<section class="section" id="experience">
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="experience-list">
      <li class="experience-item experience-item-md">
        <img
          srcset="
            /img/experience/experience_cup_1x.jpg 1x,
            /img/experience/experience_cup_2x.jpg 2x
          "
          src="/img/experience/experience_cup_1x.jpg"
          alt="Cup of coffee on a table"
          class="experience-img"
          width="288"
          height="288"
          loading="lazy"
        />
      </li>
      <li class="experience-item experience-item-md">
        <img
          srcset="
            /img/experience/experience_croissant_1x.jpg 1x,
            /img/experience/experience_croissant_2x.jpg 2x
          "
          src="/img/experience/experience_croissant_1x.jpg"
          alt="Coffee and croissant on a table"
          class="experience-img"
          width="288"
          height="288"
          loading="lazy"
        />
      </li>
      <li class="experience-item experience-item-sm">
        <img
          srcset="
            /img/experience/experience_book_1x.jpg 1x,
            /img/experience/experience_book_2x.jpg 2x
          "
          src="/img/experience/experience_book_1x.jpg"
          alt="Open book and coffee by the window"
          class="experience-img"
          width="288"
          height="162"
          loading="lazy"
        />
      </li>
      <li class="experience-item experience-item-sm">
        <img
          srcset="
            /img/experience/experience_pouring_1x.jpg 1x,
            /img/experience/experience_pouring_2x.jpg 2x
          "
          src="/img/experience/experience_pouring_1x.jpg"
          alt="Barista pouring coffee"
          class="experience-img"
          width="288"
          height="162"
          loading="lazy"
        />
      </li>
      <li class="experience-item experience-item-md">
        <img
          srcset="
            /img/experience/experience_shop_1x.jpg 1x,
            /img/experience/experience_shop_2x.jpg 2x
          "
          src="/img/experience/experience_shop_1x.jpg"
          alt="Cafe interior"
          class="experience-img"
          width="288"
          height="288"
          loading="lazy"
        />
      </li>
      <li class="experience-item experience-item-md">
        <img
          srcset="
            /img/experience/experience_nature_1x.jpg 1x,
            /img/experience/experience_nature_2x.jpg 2x
          "
          src="/img/experience/experience_nature_1x.jpg"
          alt="Coffee cups on a table"
          class="experience-img"
          width="288"
          height="288"
          loading="lazy"
        />
      </li>
      <li class="experience-item experience-item-lg">
        <img
          srcset="
            /img/experience/experience_bench_1x.jpg 1x,
            /img/experience/experience_bench_2x.jpg 2x
          "
          src="/img/experience/experience_bench_1x.jpg"
          alt="Takeaway coffee cup on a bench"
          class="experience-img"
          width="288"
          height="391"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
