<footer class="footer-page">
  <div class="container footer-container">
    <div class="card-section">
      <a class="logo-footer" href="./index.html   ">
        <svg class="logo-icon">
          <use href="/img/sprite.svg#icon-Frame-1-1"></use>
        </svg>
      </a>
      <ul class="svg-footer">
        <li>
          <a
            class="svg-contact-footer"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <svg>
              <use href="/img/sprite.svg#icon-svgFacebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="svg-contact-footer"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg>
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="svg-contact-footer" href="https://x.com/" target="_blank">
            <svg>
              <use href="/img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="info-list">
        <li>
          <a href="#welcome" class="info-footer">About us</a>
        </li>
        <li>
          <a href="#quality" class="info-footer">Benefits</a>
        </li>
        <li>
          <a href="#experience" class="info-footer">Gallery</a>
        </li>
        <li>
          <a href="#testimonials" class="info-footer">Testimonial</a>
        </li>
        <li>
          <a href="#location" class="info-footer">Location</a>
        </li>
      </ul>
    </div>
    <p class="copyright">&copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
