<section class="container" id="contact">
  <div class="contact-info">
    <div class="contact-item">
      <p class="find-us">Find Us</p>
      <h2 class="contact-title">LOCATION</h2>
      <p class="contact-description">Visit us at our cozy coffee shop!</p>
    </div>

    <div class="contact-item-list">
      <div class="contact-item">
        <span class="icon-wrapper">
          <svg width="32" height="32">
            <use href="/img/sprite.svg#icon-email"></use>
          </svg>
        </span>
        <span class="contact-text">Email</span>
        <a class="contact-link" href="mailto:hello@coffeejoy.com"
          >hello@coffeejoy.com</a
        >
      </div>

      <div class="contact-item">
        <span class="icon-wrapper">
          <svg width="32" height="32">
            <use href="/img/sprite.svg#icon-phone"></use>
          </svg>
        </span>
        <span class="contact-text">Phone</span>
        <a class="contact-link" href="tel:+15551235321">+1 (555) 123-5321</a>
      </div>

      <div class="contact-item">
        <span class="icon-wrapper">
          <svg width="32" height="32">
            <use href="/img/sprite.svg#icon-map"></use>
          </svg>
        </span>
        <span class="contact-text">Office</span>
        <p class="contact-address">263 Newbury St, Boston, MA 02116, USA</p>
        <a
          class="contact-link-directions"
          href="https://www.google.com/maps/dir/?api=1&destination=263+Newbury+St+Boston+MA+02116"
          target="_blank"
          >Get Directions &gt;</a
        >
      </div>
    </div>
  </div>

  <div>
    <iframe
      class="contact-map"
      id="contact-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.123456789!2d-71.0731!3d42.3505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDIxJzMwLjAiTiA3McKwNDMnNDIuMCJX!5e0!3m2!1sen!2sus!4v1610000000000!5m2!1sen!2sus"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</section>
