<!-- mobile -->
<div class="mobail-menu" data-menu>
  <div class="container mobail-menu-container">
    <div class="mobail-menu-header">
      <a href="./index.html" class="header-logo">
        <svg width="84" height="36">
          <use href="/img/sprite.svg#icon-Frame-1-1"></use>
        </svg>
      </a>
      <button
        class="mobile-menu-close"
        data-menu-close
        type="button"
        data-mobile-close
      >
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#about us">About us</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#benefits" target="_self"
            >Benefits</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#gallery" target="_self">Gallery</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#testimonial" target="_self"
            >Testimonial</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#location" target="_self"
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
