<section id="welcome" class="section-welcome section">
  <div class="container">
    <div class="welcome-wrapper">
      <div class="welcome-content">
        <p class="welcome-text">Welcome</p>
        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-divider">
        <p class="welcome-description">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>

        <a href="#location" class="welcome-link">
          Find location
          <svg class="welcome-svg" width="20" height="20">
            <use href="/img/sprite.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="welcome-img-wrapper">
    <img
      class="welcome-img"
      srcset="/img/welcome/welcome_1x.jpg 1x, /img/welcome/welcome_2x.jpg 2x"
      src="/img/welcome/welcome_1x.jpg"
      alt="Make coffee"
      height="162"
      width="288"
    />
  </div>
</section>
