.footer-page {
    background-color: var(--color-coffee);
    padding-top: 24px;
    padding-bottom: 24px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 32px;


}

.card-section {
    margin: 0 auto;
    background-color: var(--color-coffee-light);
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 40px;
    padding: 32px 46px;
    max-width: 288px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.logo-footer svg {
    width: 100%;
    height: 100%;
    display: block;
    fill:var(--color-neutral-darkest);
}

.logo-footer {
    width: 196px;
    height: 84px;
}
.dark-theme .logo-icon {
    fill: white;
}

.light-theme .logo-icon {
    fill: black;
}

.svg-footer {
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.svg-contact-footer svg {
    width: 32px;
    height: 32px;
    display: block;
    fill: var(--color-neutral-darkest);
}



.info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
   
}

.info-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 21px; */
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .card-section {
        padding: 32px 48px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: 704px;
        width: 100%;

    }

    .logo-footer {
        width: 84px;
        height: 36px;
    }
.logo-footer a {
    transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer a:hover,
 .logo-footer a:focus {
     opacity: 0.5;
 }
    .svg-contact-footer svg{
        width: 24px;
        height: 24px;
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        .svg-contact-footer svg:hover,
      .svg-contact-footer svg:focus {
        opacity: 0.5;
        }

        .svg-contact-footer svg:active {
                    opacity: 0.7;
                }

    

    .info-list {
        flex-direction: row;
        gap: 32px;
    }
    .info-list a  {
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        .info-list a:hover,
        .info-list a:focus {
            opacity: 0.5;}

.info-list a:active {
    opacity: 0.7;
}

}

@media only screen and (min-width: 1440px) {
    .card-section {
        max-width: 1312px;
        width: 100%;
        flex-direction: row;  
        flex-wrap: nowrap;     
        justify-content: flex-start; 
        align-items: center;
        gap: 0;                 
      
    }

    .logo-footer {
        width: 84px;
        height: 36px;
        margin-right: 40px;   
    }

    .svg-footer {
        margin-right: auto;     
        gap: 12px;
    }

    
}