.nav-list {
  display: none;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  line-height: 0;
  padding: 18px 0;
}

.burger-btn > .icon {
  display: block;
  fill: var(--color-scheme-1-text);
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-overlay {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 32px;
    margin-left: auto;
  }

  .nav-list-item a {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item a:hover,
  .nav-list-item a:focus {
    opacity: 0.5;
  }

  .nav-list-item a:active {
    opacity: 0.7;
  }

  .nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
