.hero {
  max-width: 375px;
  margin: 0 auto;
  padding: 108px 0;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/hero/hero_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 2x), (min-device-pixel-ratio: 2) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/hero/hero_2x.jpg);
  }
}

/* .hero-container {
  padding: 0 32px;
} */

.hero-content {
  padding: 0 16px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
  margin-bottom: 24px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  margin-bottom: 32px;
}

.hero-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  display: block;
  border-radius: 100px;
  padding: 10px 24px;
  width: 135px;
  height: 44px;
  box-shadow:
    0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-coffee-dark);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  opacity: 0.5;
}

.hero-link:active {
  opacity: 1;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 311px 0;
  }

  .hero-content {
    padding: 0 0 0 16px;
    width: 576px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding: 259px 0;
  }

  .hero-title {
    font-size: 56px;
  }
}