.contact-info {
   max-width: 100%;
   margin: 0;
   text-align: left;
}

.find-us {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 16px;
}

.contact-title {
  font-family: var(--second-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  margin-bottom: 24px;
  text-align: left;
}
.contact-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 40px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  fill: var(--color-neutral-darkest);
  margin-bottom: 16px;
}

.contact-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: var(--second-family);
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.contact-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 1px;
  border-radius: 0.02em;
  background-color: var(--color-neutral-darkest);
}

.contact-link:hover,
.contact-link-directions:hover {
  color: var(--opacity-neutral-darkest-70);
}

.contact-link:active,
.contact-link-directions:active,
.contact-link:focus,
.contact-link-directions:focus {
  color: var(--opacity-neutral-darkest-50);
}

.contact-address {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 16px;
  font-style: normal;
}

.contact-link-directions {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contact-map {
  height: 307px;
  width: 100%;
  border-radius: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container {
    text-align: center;
  }

  .contact-head {
    text-align: center;
  }
  .contact-item {
    align-items: center;
  }
  .contact-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contact-description {
    margin-bottom: 0;
  }

  .contact-item {
    margin-bottom: 32px;
  }

  .contact-item-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
  }

  .contact-map {
    max-width: 704px;
    height: 377px;

    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-item-list {
    display: flex;
    flex-direction: column;
  }

  .contact-item {
    margin-bottom: 0;
  }

  .contact-info {
    width: 419px;
    flex-shrink: 0;
    margin-right: 24px;
  }

  .contact-map {
    flex: 1;
    height: 697px;

    max-width: none;
  }

  .map-frame {
    width: 100%;
    height: 100%;
    border: none;
  }
}
