.container {
  padding: 64px 16px;
  background-color: #e0cbb4;
}
.contact-info {
  max-width: 100%;
  margin: 0;
  text-align: left;
}
.find-us {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}
.contact-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 24px;
  text-align: left;
}
.contact-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
}
/* */
.contact-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  fill: #0b0803;
  margin-bottom: 16px;
}

.contact-text {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 8px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.contact-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 1px;
  border-radius: 0.02em;
  background-color: #0b0803;
}

/* змінити колір */
.contact-link:hover,
.contact-link-directions:hover {
  color: rgba(11, 8, 3, 0.7);
}
.contact-link:active,
.contact-link-directions:active {
  color: rgba(11, 8, 3, 0.5);
}

.contact-link-directions {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contact-address {
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}
.contact-map {
  width: 288px;
  height: 307px;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 64px 32px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contact-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .contact-item-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
  }

  .contact-map {
    width: 100%;
    max-width: 704px;
    height: 377px;
    border-radius: 40px;

    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 64px 32px;
  }
  .contact-item-list {
    display: flex;
    flex-direction: column;
  }
  .contact-item {
    margin-bottom: 0;
  }

  .contact-info {
    width: 419px;
    flex-shrink: 0;
  }

  .contact-map {
    flex: 1;
    max-width: 869px;
    height: 697px;
    border-radius: 40px;
    margin-left: auto;
  }
}
