.location {
  text-align: left;
}

.contact-head {
  margin-bottom: 40px;
}

.find-us {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 16px;
}

.contact-title {
  font-family: var(--second-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  margin-bottom: 24px;
}
.contact-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin-bottom: 32px;
}

.contact-item-svg {
  margin-bottom: 16px;
}

.contact-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: var(--second-family);
}

.contact-link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.contact-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 1px;
  border-radius: 0.02em;
  background-color: var(--color-neutral-darkest);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link-directions:hover {
  color: var(--opacity-neutral-darkest-70);
}

.contact-link:active,
.contact-link-directions:active,
.contact-link:focus,
.contact-link-directions:focus {
  color: var(--opacity-neutral-darkest-50);
}

.contact-address {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 16px;
  font-style: normal;
}

.contact-link-directions {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  gap: 8px;
}

.contact-link-svg {
  font-weight: 500;
  fill: var(--color-scheme-1-text);
}

.contact-map {
  height: 307px;
  width: 100%;
  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .contact-map {
    max-width: 704px;
    height: 377px;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .contact-list {
    flex-direction: row;
  }

  .contact-item {
    flex: 1;
  }
}

@media screen and (min-width: 1440px) {
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-title {
    font-size: 48px;
  }

  .contact-info {
    width: 419px;
    flex-shrink: 0;
  }

  .contact-map {
    flex: 1;
    height: 697px;
    max-width: none;
  }

  .map-frame {
    width: 100%;
    height: 100%;
    border: none;
  }
}
