.mobail-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-coffee-lighter);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobail-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.mobail-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobail-menu-header {
  display: flex;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: var(--color-coffee-lighter);
}

.mobile-menu-item {
  padding-bottom: 32px;
  font-family: var(--color-neutral-darkest);
  font-size: 16px;
  color: var(--font-family);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--color-coffee-dark);
}

@media screen and (min-width: 768px) {
  .mobail-menu.is-open {
    display: none;
  }
}
