.quality {
    text-align: center;
}

.quality-tagline {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.quality-header {
    font-family: var(--second-family);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.quality-paragraph {
    margin-bottom: 32px;
}

 .quality-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 24px;
 }

 .quality-item {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.quality-img {
    border-radius: 32px;
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
}

.quality-list-wrapper {
    margin: 0 auto;
}

.quality-list-header {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
}

.quality-list-paragraph {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .quality-header {
        max-width: 452px;
        margin-right: auto;
        margin-left: auto;
    }

    .quality-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .quality-list-wrapper {
        max-width: 294px;
    }

    .quality-img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .quality-item-full {
        flex-basis: 100%;
    }
    
    .quality-item-full .quality-img {
        width: 100%;
    }
    
    .quality-item-full .quality-list-wrapper {
        max-width: 440px;
    }
}

@media screen and (min-width: 1440px) {
    .quality-header {
        font-size: 48px;
        max-width: 768px;
    }

    .quality-paragraph {
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
    }

    .quality-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .quality-list-wrapper {
         max-width: 421px;
    }

}
