.subscribe {
  display: block;
  width: 100%;
}

.subscr-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
}

.subscr-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  padding-top: 24px;
}

.subscr-form {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.subscr-input {
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 12px;
  padding-block: 8px;
  padding-inline: 12px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.subscr-input:focus {
  outline: none;
}

.subscr-input::placeholder {
  color: var(--opacity-neutral-darkest-60);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscr-input:hover::placeholder,
.subscr-input:focus::placeholder {
  opacity: 0;
}

.subscr-input:not(:placeholder-shown):invalid {
  border-color: var(--color-error-red);
}

.invalid-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-error-red);
  display: none;
}

.subscr-input:not(:placeholder-shown):invalid ~ .invalid-text {
  opacity: 1;
  display: block;
}

.subscr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 288px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  box-shadow:
    0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 var(--shadow-dark),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 var(--shadow-light),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-coffee-dark);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscr-button:hover,
.subscr-button:focus {
  opacity: 0.5;
}

.subscr-button:active {
  opacity: 1;
  box-shadow: none;
}

.subscr-validation {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.subscr-icon {
  fill: var(--color-white);
  height: 12px;
}

.agree-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  padding-top: 16px;
  padding-bottom: 32px;
}

.subscr-img-wrap {
  width: 288px;
  height: 400px;
}

.subscr-img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscribe-content {
    text-align: center;
  }

  .subscr-form {
    align-items: center;
  }

  .subscr-img-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .subscr-form {
    padding-top: 32px;
    flex-direction: row;
    gap: 24px;
  }

  .subscr-input {
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 12px;
    padding-block: 8px;
    padding-inline: 12px;
    width: 340px;
    height: 44px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  .subscr-validation {
    margin-bottom: 0px;
  }

  .subscr-button {
    margin-top: 0px;
    width: 158px;
  }

  .subscr-img-wrap {
    width: 704px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subscr-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .subscribe-content {
    display: flex;
    flex-direction: column;
    flex: 0 0 640px;
    padding-bottom: 22px;
  }

  .subscr-title {
    font-size: 48px;
  }

  .subscr-img-wrap {
    flex: 0 0 640px;
    width: 640px;
    height: 400px;
    margin-left: 32px;
  }

  .agree-text {
    padding-bottom: 0px;
  }

  .subscr-validation {
    position: relative;
  }

  .invalid-text {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden;
  }

  .subscr-input:not(:placeholder-shown):invalid ~ .invalid-text {
    opacity: 1;
    visibility: visible;
  }

  .subscr-form:has(.subscr-input:not(:placeholder-shown):invalid) {
    margin-bottom: 22px;
  }

  .subscribe-content:has(.subscr-input:not(:placeholder-shown):invalid) {
    padding-bottom: 0;
  }
}
