.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;

  background-color: var(--shadow-dark);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;

  padding: 64px 16px;
  width: 100%;

  border-radius: 40px;
  background-color: var(--color-scheme-1-background);
}
.modal-cross {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  border-radius: 100px;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cross:hover,
.modal-cross:focus-visible {
  opacity: 0.5;
}

.modal-cross:active {
  background-color: var(--opacity-neutral-darkest-10);
}

.modal-cross-icon {
  fill: var(--color-scheme-2-text);
}
.modal-title {
  margin-bottom: 16px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
}
.modal-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-scheme-1-text);
}
.modal-img {
  margin-bottom: 24px;
  width: 100%;
  aspect-ratio: 256 / 200;
  border-radius: 24px;
  object-fit: cover;
}
.modal-close-btn {
  padding: 0 15px;
  min-height: 44px;
  width: 100%;
  border: none;
  box-shadow:
    0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-coffee-dark);
  border-radius: 100px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus-visible {
  opacity: 0.5;
}

.modal-close-btn:active {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 64px 30px;
  }

  .modal-title {
    font-size: 36px;
    max-width: 500px;
    margin: 0 auto 16px auto;
  }

  .modal-text {
    margin-bottom: 48px;
  }

  .modal-img {
    margin-bottom: 48px;
    aspect-ratio: 644 / 374;
    border-radius: 40px;
  }

  .modal-close-btn {
    display: block;
    max-width: 340px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .modal-cross {
    right: 73px;
  }

  .modal {
    max-width: 866px;
    padding: 64px;
  }

  .modal-title {
    max-width: 100%;
    font-size: 48px;
  }

  .modal-img {
    max-width: 644px;
    margin: 0 auto 48px auto;
  }

  .modal-close-btn {
    max-width: 274px;
  }
}
