/* testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    padding: 64px 16px;
}

/* title */
.testimonials-title {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #0B0803;
    line-height: 1.2;
    max-width: 290px;
}

/* list */
.testimonials-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
/* card */
.testimonials-card {
    background-color: #C29D84;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--color-scheme-1-border);
    border-radius: 32px;
    padding: 32px;
    width: 288px;
    height: auto;
    min-width: 265px;
}
/* stars */
.stars {
    display: flex;
    gap: 4px;
    padding: 0;
    margin: 0;
}
.star-fill {
    display: block;
}
.star-outline {
    display: block;
    fill: transparent;
    stroke: var(--color-scheme-1-accent);
}
/* text */
.testimonials-text {
    font-size: 18px;
    font-weight: 400;
    color: #0B0803;
    line-height: 1.5;
}
/* author */
.testimonials-author {
    font-size: 16px;
    font-weight: 600;
    color: #0B0803;
    margin-top: auto;
}
/* table*/
@media (min-width: 768px) {
    .testimonials {
        padding: 64px 32px;
    }
    .testimonials-title {
        font-size: 36px;
    }
    .testimonials-card {
        width: calc((100% - 24px) / 2);
        width: 340px;
        height: 253px;
    }
}
/* desktop */
@media (min-width: 1440px) {
    .testimonials {
        padding: 64px;
    }
    .testimonials-title {
        font-size: 48px;
        max-width: 400px;
    }
    .testimonials-card {
        width: calc((100% - 72px) / 4);
        width: 310px;
        height: 303px;
    }
}