

.section-welcome {
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    text-align: left;
    max-width: 320px;

}

.welcome-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    margin-top: 0;
    margin-bottom: 16px;

}

.welcome-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;

    margin-top: 0;
    margin-bottom: 32px;
}

.welcome-description {
    color: #0b0803;
    margin-top: 0;
    margin-bottom: 32px;
}

.welcome-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;

    border-radius: 100px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 78px;
    margin-bottom: 32px;

}

.welcome-svg{
    fill: #fff;
}

.welcome-img{
    border-radius: 40px;
    width: 100%;
    height: 162px;
    object-fit: cover;
}

.welcome-link:hover,
.welcome-link:focus {
    opacity: 0.5;
}

.welcome-link:active {
    box-shadow: none;
    background: #6f4e37;
}


@media screen and (min-width: 768px) {
    .section-welcome {
        max-width: 768px;
        padding: 64px 32px;
        

    }
    .welcome-wrapper{
            display: flex;
            gap: 24px;
            align-items: flex-start;
            }
            
    .welcome-content {
                width: 336px;
            }
            
    .welcome-divider {
                width: 336px;
            }
            
    .welcome-img {
                height: 364px;
                margin-top: 32px;
            }
    .welcome-link {
        padding-inline: 24px;
            }

}



@media screen and (min-width: 1440px) {
    .section-welcome {
            max-width: 1440px;
            padding: 64px;
    }
    .welcome-content {
            width: 640px;
        }
    
    .welcome-divider {
            width: 640px;
        }
    .welcome-wrapper {
            gap: 32px;
    }

    .welcome-img {
        height: 738px;
        margin-top: 80px;
    }


}